config:
  test-vsphere:datacenterName: Homelab
  test-vsphere:datastoreName: p-esxi1-nvme-1
  test-vsphere:metallbRangeFinish: 172.16.10.167
  test-vsphere:metallbRangeStart: 172.16.10.167
  test-vsphere:portGroupName: VDS-MGMT-DEFAULT
  test-vsphere:rancherURLName: rancher.virtualthoughts.co.uk
  test-vsphere:resourcepoolName: Resources
  test-vsphere:templatenameName: template_ubuntu2004_guestinfo
  test-vsphere:vmPrefixName: rancher-vm-
  vsphere:allowUnverifiedSsl: "true"
  vsphere:password:
    secure: [Set]
  vsphere:user: administrator@vsphere.local
  vsphere:vsphereServer: 172.16.10.22
